@charset "UTF-8";
/* vertical-align 수직 정렬 */
* {margin:0;padding:0;vertical-align:middle;}
html,body{width:100%;height:100%}
/* html */
/* 스크롤바 생성 scroll <--> hidden*/
html {overflow-y:scroll;}
body {font:normal 14px/1 '돋움', '굴림';color:#444;background:url(../img/restaurant-img7.jpg) no-repeat 0 0;}

/* 
body {font-weight:normal; font-size:14px;line-height:1; font-family:'돋움', '굴림';color:#444;background:#fff;} 
*/

/* h1~hx 부분의 폰트 설정을 동일하게 잡아준다 font-weight:normal로 잡아 굵기를 없앤다. */
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:14px;}

/* em,i,darrs 폰트 스타일을 normal로 잡아서 기울임 현상을 없앤다 */
em,i,address {font-style:normal;}

/* list-style:none;으로 잡아 ul,li앞에 붙은 점을 없앤다 */
ul,li{list-style:none;}

.clearfix::after {content:'';display:block;clear:both}
/* clear:both는 float:left , float:right 를 없앤다 */

/* 링크 태그 */
a {color:#444;text-decoration:none;}

/* 시멘틱 태그 */
header,main,section,footer {display:block;}
